.detail {

  position: relative;
  padding: 6rem 0;

  &-content {

    .pokemon {

      &-img {

        width: 200px;
        height: 200px;
      }

      &-title {

        font-size: 2rem;
        margin-bottom: 3rem;
      }
    }

    .card {

      position: relative;
      padding: 2rem;
      //background-image: linear-gradient(167deg, $info 21.29%, $warning 97.52%);
      margin-bottom: 2rem;
      border-radius: 25px;
      background: linear-gradient(225deg, #111010, #141313);
      box-shadow:  -5px 5px 0px #080707,
      5px -5px 0px #1e1d1d;

      &:after {

        content: '';
        background-color: #fff;
        position: absolute;
        top: 2px;
        left: 2px;
        bottom: 2px;
        right: 2px;
        border-radius: 25px;
      }

      &-content {

        position: relative;
        text-align: center;
        z-index: 2;

        &-stats {

          display: flex;
          align-items: center;

          &-title {

            font-size: 1.3rem;
            color: #fff;
            margin-bottom: .5rem;
            display: inline-block;
          }
        }
      }
    }
  }
}
