<main class="detail">
  <ng-container *ngFor="let informationsPokemon of pokemonDetail">
    <section class="detail-content">
      <div class="container">
        <div class="row justify-content-lg-center">
          <div class="col-12">
            <div class="card">
              <div class="card-content">
                <div class="row">
                  <div class="col-lg-4">
                    <img [src]="informationsPokemon.sprites.other.dream_world.front_default"
                         alt="Pokemonss"
                         class="pokemon-img">
                  </div>
                  <div class="col-lg-8">
                    <h2 class="pokemon-title">
                      {{ informationsPokemon.name }}
                    </h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="card">
              <div class="card-content">
                    <span class="card-content-stats-title">
                         HP
                    </span>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger"
                       role="progressbar"
                       aria-valuemin="0"
                       aria-valuemax="100"
                       [style.width]="informationsPokemon.stats[0].base_stat + '%'">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card">
              <div class="card-content">
                    <span class="card-content-stats-title">
                         Attack
                    </span>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar"
                       aria-valuenow="75"
                       aria-valuemin="0"
                       aria-valuemax="100"
                       [style.width]="informationsPokemon.stats[1].base_stat + '%'">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card">
              <div class="card-content">
                    <span class="card-content-stats-title">
                         Defense
                    </span>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar"
                       aria-valuenow="75"
                       aria-valuemin="0"
                       aria-valuemax="100"
                       [style.width]="informationsPokemon.stats[2].base_stat + '%'">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card">
              <div class="card-content">
                    <span class="card-content-stats-title">
                         Special Attack
                    </span>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar"
                       aria-valuenow="75"
                       aria-valuemin="0"
                       aria-valuemax="100"
                       [style.width]="informationsPokemon.stats[3].base_stat + '%'">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card">
              <div class="card-content">
                    <span class="card-content-stats-title">
                         Special Defense
                    </span>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar"
                       aria-valuenow="75"
                       aria-valuemin="0"
                       aria-valuemax="100"
                       [style.width]="informationsPokemon.stats[4].base_stat + '%'">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card">
              <div class="card-content">
             <span class="card-content-stats-title">
                         Speed
                    </span>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar"
                       aria-valuenow="75"
                       aria-valuemin="0"
                       aria-valuemax="100"
                       [style.width]="informationsPokemon.stats[5].base_stat + '%'">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </ng-container>
</main>
