@import "../../../resources/sass/frontend/common";

.btn {

  &-custom {

    &-primary {

      position: relative;
      background-color: $primary;
      width: 100%;
      color: $white;

      &:after {

        content: '';
        background-image: linear-gradient(167deg, #2255D7 21.29%, #FFD00D 97.52%);
        position: absolute;
        border-radius: 25px;
        bottom: -3px;
        left: -3px;
        right: -3px;
        top: -3px;
        z-index: -1;
      }
    }
  }
}
