@import "../../../resources/sass/frontend/common";

.board {

  background-color: $primary;
  padding-top: 7rem;
  overflow: hidden;

  &-flex-center {

    display: flex;
    align-items: center;
  }
}
