$fonts-base-path: '../../../assets/fonts';

@mixin font-face($font-map) {

  $family: map-get($font-map, 'family');
  $file-name: map-get($font-map, 'file-name');

  font-family: '#{$family}';
  src: url('#{$fonts-base-path}/#{$file-name}.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

$light-font-map: (
  family: 'JosefinSans-Light',
  file-name: 'JosefinSans-Light',
);

$regular-font-map: (
    family: 'JosefinSans-Regular',
    file-name: 'JosefinSans-Regular',
);

$bold-font-map: (
    family: 'JosefinSans-Bold',
    file-name: 'JosefinSans-Bold',
);

$project-fonts: (
    light: $light-font-map,
    regular: $regular-font-map,
    bold: $bold-font-map,
);

@each $font-key, $font-map in $project-fonts {

  @font-face {

    @include font-face($font-map);
  }
}

@function get-font-family($font-map) {

  @return map-get($font-map, 'family');
}

$font-sizes: (
    14,
    16,
    18,
    20,
    22,
    25,
    28,
    30,
    32,
    35,
    40,
    46,
    54,
    60,
    64,
    70,
    80,
    84,
    90,
    100,
    120,
    130,
    142,
    160,
    180,
    200,
);
