.card {

  position: relative;
  padding: 2rem;
  //background-image: linear-gradient(167deg, $info 21.29%, $warning 97.52%);
  background: linear-gradient(225deg, #111010, #141313);
  box-shadow:  -5px 5px 0px #080707,
  5px -5px 0px #1e1d1d;
  margin: 2rem;
  border-radius: 25px;
  transition: all 1s;

  &:after {

    content: '';
    background-color: #fff;
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    border-radius: 25px;
  }

  &-content {

    position: relative;
    text-align: center;
    z-index: 2;
  }
}
